@import 'theme.scss';
@import 'mixin.scss';
// topBar
nav{
  >ul{
    width: 1300px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    >li{
      flex:1;
      height: 40px;
      line-height: 40px;
      text-align: center;
      &.active{
        @include topbarline
      }
      &:hover{
        @include topbarline
      }
    }
  }
}

// week name
main.name{
  >div.container{
    width: 1300px;
    display: block;
    margin: 20px auto 0 auto;
  }
}
